# Node & Next.js
frontend/node_modules/
frontend/.next/
frontend/out/

# Python & Pycache
backend/__pycache__/
backend/services/__pycache__/
*.pyc
.venv/

# System & IDE
.DS_Store
*.log
.vscode/
.idea/
